#!/bin/bash

if command -v lorri >& /dev/null; then
  eval "$(lorri direnv)"
fi

export RUST_SRC_PATH="$(nix-build --no-out-link --attr src nix/rust.nix)"

if [[ -e .envrc.local ]]; then
  source_env .envrc.local
fi
